In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
df = pd.DataFrame(columns = ['height', 'bed_number', 'bed_thickness', 'grainsize', 'paleocurrent', 'strike', 'dip'])

In [7]:
N = 100

In [8]:
df['bed_number'] = np.linspace(1, 101, N)

TypeError: type numpy.ndarray doesn't define __round__ method

In [2]:
thickness = np.linspace(2, 5, 50) + np.random.normal(0, 1.5, 50)
thickness = np.append(thickness, np.linspace(20, 40, 50) + np.random.normal(0, 5, 50))
df['bed_thickness'] = thickness

NameError: name 'np' is not defined

In [3]:
height = df.bed_thickness.cumsum() + np.random.normal(0, 5, 100)
df['height'] = height

NameError: name 'df' is not defined

In [9]:
df

         height  bed_number  bed_thickness grainsize paleocurrent strike  dip
0      0.830950    1.000000       2.595295       NaN          NaN    NaN  NaN
1      0.753966    2.010101       2.880381       NaN          NaN    NaN  NaN
2      9.823429    3.020202       3.359923       NaN          NaN    NaN  NaN
3     12.752764    4.030303       3.374115       NaN          NaN    NaN  NaN
4     20.157764    5.040404       0.081369       NaN          NaN    NaN  NaN
..          ...         ...            ...       ...          ...    ...  ...
95  1488.429822   96.959596      42.249456       NaN          NaN    NaN  NaN
96  1523.874177   97.969697      26.954438       NaN          NaN    NaN  NaN
97  1556.050422   98.979798      38.010854       NaN          NaN    NaN  NaN
98  1579.825156   99.989899      31.347152       NaN          NaN    NaN  NaN
99  1623.690440  101.000000      35.405233       NaN          NaN    NaN  NaN

[100 rows x 7 columns]

In [10]:
grainsize = np.linspace(0.5, 0.5, 5)
grainsize = np.append(grainsize, np.linspace(0.5, 2, 45) + np.random.normal(0, 0.5, 45))
grainsize = np.append(grainsize, np.linspace(4, 5, 50) + np.random.normal(0, 0.5, 50))
df['grainsize'] = grainsize
df['grainsize'] = df['grainsize'].round(0)

# gsize = ['mud', 'silt', 'f. sand', 'm. sand', 'c.sand', 'congl.']

# df['grainsize'] = df['grainsize'].replace(0., gsize[0])
# df['grainsize'] = df['grainsize'].replace(1., gsize[1])
# df['grainsize'] = df['grainsize'].replace(2., gsize[2])
# df['grainsize'] = df['grainsize'].replace(3., gsize[3])
# df['grainsize'] = df['grainsize'].replace(4., gsize[4])
# df['grainsize'] = df['grainsize'].replace(5., gsize[4])
# df['grainsize'] = df['grainsize'].replace(6., gsize[5])

df

         height  bed_number  bed_thickness  grainsize paleocurrent strike  dip
0      0.830950    1.000000       2.595295        0.0          NaN    NaN  NaN
1      0.753966    2.010101       2.880381        0.0          NaN    NaN  NaN
2      9.823429    3.020202       3.359923        0.0          NaN    NaN  NaN
3     12.752764    4.030303       3.374115        0.0          NaN    NaN  NaN
4     20.157764    5.040404       0.081369        0.0          NaN    NaN  NaN
..          ...         ...            ...        ...          ...    ...  ...
95  1488.429822   96.959596      42.249456        6.0          NaN    NaN  NaN
96  1523.874177   97.969697      26.954438        5.0          NaN    NaN  NaN
97  1556.050422   98.979798      38.010854        5.0          NaN    NaN  NaN
98  1579.825156   99.989899      31.347152        5.0          NaN    NaN  NaN
99  1623.690440  101.000000      35.405233        5.0          NaN    NaN  NaN

[100 rows x 7 columns]

In [11]:
fm = np.repeat('Sheffield Formation', 80)
fm = np.append(fm, np.repeat('Manchester Formation', 20))
df['formation'] = fm

In [12]:
x = np.linspace(310, 10, 50) + np.random.normal(0, 2, 50)
x1 = np.linspace(360, 355, 50) + np.random.normal(0, 2, 50)
df['paleocurrent'] = np.concatenate((x, x1))

In [13]:
x = np.random.uniform(low = 220, high = 240, size = 100) + np.random.normal(0, 10, 100)
df['strike'] = x
df['strike'].iloc[::2] = None

/opt/anaconda3/envs/general/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [14]:
x = np.linspace(40, 35, 50) + np.random.normal(0, 2, 50)
x1 = np.linspace(35, 30, 50) + np.random.normal(0, 2, 50)
df['dip'] = np.concatenate((x, x1))
df['dip'].iloc[::2] = None

In [34]:
d18O = np.geomspace(0.2, 0.6, 50) + np.random.normal(0, 0.1, 50)
d18O = np.append(d18O, np.geomspace(1.3, 1., 50) + np.random.normal(0, 0.1, 50))
df['d18O'] = d18O

In [35]:
df

,height,bed_number,bed_thickness,grainsize,paleocurrent,strike,dip,formation,d18O
0,0.83,1.00,2.60,0.0,309.0,NaN,NaN,Liverpool Formation,0.093459
1,0.75,2.01,2.88,0.0,310.0,256.0,42.0,Liverpool Formation,0.248127
2,9.82,3.02,3.36,0.0,296.0,NaN,NaN,Liverpool Formation,0.158511
3,12.75,4.03,3.37,0.0,292.0,232.0,38.0,Liverpool Formation,0.211309
4,20.16,5.04,0.08,0.0,287.0,NaN,NaN,Liverpool Formation,0.188214
...,...,...,...,...,...,...,...,...,...
95,1488.43,96.96,42.25,6.0,355.0,232.0,30.0,Manchester Formation,0.822881
96,1523.87,97.97,26.95,5.0,351.0,NaN,NaN,Manchester Formation,1.049567
97,1556.05,98.98,38.01,5.0,355.0,226.0,31.0,Manchester Formation,1.002981
98,1579.83,99.99,31.35,5.0,354.0,NaN,NaN,Manchester Formation,0.949929
99,1623.69,101.00,35.41,5.0,354.0,260.0,29.0,Manchester Formation,1.102454

In [36]:
cols = ['bed_number', 'grainsize', 'paleocurrent', 'strike', 'dip']
cols1 = ['height', 'bed_thickness', 'd18O']

df[cols] = df[cols].round(0)
df[cols1] = df[cols1].round(2)

In [37]:
df.to_excel('data.xlsx')